@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/inter.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url('../assets/fonts/lora.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
    --charcoal: #1E1B18;
    --pine: #357266;
    --mint: #B8D5B8;
    --cream: #EFF7F6;
    --parchment: #FFEED6;
}

.card {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(17, 94, 89, 0.1);
}

header, footer {
    backdrop-filter: blur(8px);
    background-color: var(--charcoal);
    color: white;
}

header a.nav-link, 
footer a {
    color: white !important;
}

header a.nav-link:hover, 
footer a:hover {
    color: rgba(255, 255, 255, 0.75) !important;
}

header ul {
  color: white;
}

body {
  font-family: "Inter", sans-serif;
}

#home {
    font-family: "Lora", sans-serif;
    background-color: var(--mint);
}

#projects .card-img-top {
    height: 250px;
    object-fit: cover;
    object-position: center;
}

.skills-card {
  background-color: var(--cream);
}

#projects .card-title {
  color: var(--pine);
}

#projects .card-body {
  background-color: #F6F4F3;
}