@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/inter.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url('../assets/fonts/lora.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: "Inter", serif;
}

h1 {
    font-family: "Lora", sans-serif;
}